<div class="container">
    <div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{eventImage}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <i class="fas fa-map-marker-alt"></i><p class="card-text">{{location}}</p>
        <a href="{{downloadURL}}">web</a>
        <p>Price: {{ticketPrice}} €</p>
        <i class="far fa-heart"></i> <a href="#"> Save as favourite</a>
      </div>
    </div>
  </div>
</div>
</div>